{{ define "main" }}
<section id="main">
    <h1 id="title">{{ .Title }}</h1>
    <h5 id="date"> {{ .Date.Format "Jan 2, 2006" }} </h4>
        <div>
            <article id="content">
                {{ .Content }}
            </article>
        </div>
    </section>
    <aside id="meta">
        <div>
            <hr>
            <div id="tags">
            Tags:
            {{ with .Params.tags }}
                {{ range . }}
                <a class="tag-link" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            {{ end }}
            </div>
        </div>
        <div class="blog-nav">
            <div class="previous">
                Prev: 
                {{ with .PrevInSection }}
                    <a class="previous-link" href="{{.Permalink}}"> {{.Title}}</a>
                {{ else }}
                    None
                {{ end }}
            </div>
            <div class="next">
                Next: 
                {{ with .NextInSection }}
                    <a class="next-link" href="{{.Permalink}}"> {{.Title}}</a>
                {{ else }}
                    None
                {{ end }}
            </div>
        </div>
    </aside>
{{ end }}