<footer class="footer" id="footer">
    <hr class="footer-line" />
    <div class="footer-container">
        <h4 class="social-title">Find me here:</h4>
        <ul class="social-links">
          <!-- LinkedIn Profile -->
          <li>
            <a href="https://www.linkedin.com/in/jesse-inouye/" target="_blank" rel="noopener noreferrer">
              <img src="/images/linkedin-icon.svg" alt="LinkedIn" />
            </a>
          </li>
    
          <!-- Bluesky Profile -->
          <li>
            <a href="https://bsky.app/profile/jesseinouye.bsky.social" target="_blank" rel="noopener noreferrer">
              <img src="/images/bluesky-icon.svg" alt="Bluesky" />
            </a>
          </li>
        </ul>
      </div>
</footer>