<header class="header" id="header">
    <div class="container">
        <nav class="navbar"> 
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ .Site.BaseURL }}">
                    JI
                </a>
                <ul class="navbar-nav ml-auto">
                    {{ range .Site.Menus.nav }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </nav>
    </div>
</header>